/* RESET */

*
	margin: 0
	padding: 0
	font-size: 100%
	font-family: 'Open Sans', sans-serif
	font-weight: normal
	box-sizing: border-box
	border: none
	outline: none

img
	max-width: 100%

ul
	list-style: none

a 
	text-decoration: none

h2
	font-size: 1.5em
	color: #333

p
	font-size: 1em
	color: #777

/* CABECALHO */

.cabecalho
	width: 100%
	float: left
	padding: 50px 8%
	background-color: #13c7ae

	form
		width: 30%
		float: right

		input[type="text"]
			width: 85%
			float: left
			padding: 15px 10px
			border-radius: 5px 0 0 5px
		button
			width: 15%
			float: right
			padding: 15px 10px
			background-color: #0cae98
			color: #fff
			cursor: pointer
			border-radius: 0 5px 5px 0

.logo
	a
		width: 221px
		height: 48px
		float: left
		background: url(../img/logo.png) no-repeat
		background-size: 221px 48px
		font-size: 0

/* MENU */
.menu
	width: 100%
	float: left
	background-color: #111
	padding: 18px 8%

	li
		float: left

		a
			color: #9d9d9d
			margin-right: 25px

		a:hover
			color: #fff

.social-icons
	float: right

	a
		color: #fff
		float: left
		margin-left: 12px

	.btn-facebook:hover
		color: #3B5998

	.btn-twitter:hover
		color: #54A4D6

	.btn-google:hover
		color: #D73D32

/* PRINCIPAL */

.principal 
	width: 100%
	float: left
	padding: 20px 8%

.sobre
	width: 70%
	float: left
	padding: 0 20px 20px 0

	h2
		margin-bottom: 15px

	img 
		width: 50%
		float: left
		border-radius: 5px
		margin: 0 15px 15px 0

	p
		text-align: justify

/* SIDEBAR */

.onde-estamos
	width: 30%
	float: right
	padding: 10px 20px
	background-color: #f5f5f5
	border-radius: 5px

	h2
		margin-bottom: 5px

	iframe
		width: 100%
		height: 250px
		margin: 20px 0

	li
		color: #777
		margin-bottom: 10px

		i
			margin-right: 5px

/* NEWSLETTER */

.newsletter
	width: 100%
	float: left
	background-color: #111
	padding: 50px 8%

	h3
		font-size: 1.8em
		color: #fff

	p
		font-size: 1.2em
		color: #fff

	form
		width: 100%
		float: left
		margin-top: 10px

		input
			width: 40%
			margin-right: 1%
			padding: 15px 10px
			border: 1px solid #fff
			border-radius: 5px
			color: #fff
			background-color: initial
			float: left

		button
			width: 18%
			background-color: #fff
			padding: 15px 10px
			border-radius: 5px
			float: right
			cursor: pointer

/* RODAPE */

.rodape
	width: 100%
	float: left
	background-color: #13c7ae
	padding: 20px 8%

	p
		color: #fff
		