*
	padding: 0
	margin: 0

html, body 
	height: 100%

.container
	width: 100%
	height: 100%
	background-color: gray
	display: flex
	justify-content: center
	align-items: center
	div.box
		width: 5%
		height: 10%
		background-color: red
		margin: 2% .25em
		
		