/* RESETS */
* { margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: "Lato", sans-serif; }

body { background-color: #f5f5f5; }

a { text-decoration: none; }

ul { list-style: none; }

img { max-width: 100%; }

/* ========== CONTAINNER ========== */
.rodape, .cabecalho, .banner, .servicos, .newsletter { width: 100%; float: left; text-align: center; padding: 3% 4%; }

/* ========== BG COLORS ========== */
.btn-menu, .rodape { background: linear-gradient(to right, #ce2e3c, #da6709); }

.btn-sobre, .newsletter, .newsletter input { background-color: #130400; }

.btn-cadastrar, .servico, .newsletter button { background-color: #fff; }

/* ========== BG COLORS ========== */
.buttons button, .servico, .newsletter input, .newsletter button { border-radius: 10px; }

/* CABECALHO */
.logo { width: 56px; height: 56px; float: left; background: url(../img/logo-mobile.png) center center/56px no-repeat; font-size: 0; }

.btn-menu { width: 57px; height: 56px; float: right; text-align: center; color: #fff; border-radius: 56px; cursor: pointer; }

.menu { width: 100%; height: 100%; position: fixed; background-color: rgba(0, 0, 0, 0.9); top: 0; left: 0; display: none; }
.menu .btn-close { font-size: 1.5em; color: #fff; float: right; cursor: pointer; margin: 2% 3% 0 0; }
.menu ul { width: 100%; float: left; text-align: center; }
.menu ul li { padding: 1.5%; border: 1px solid gba(0, 0, 0, 0.9); }
.menu ul li:hover { border: 1px solid #da6709; }
.menu ul li a { font-size: 2em; color: #fff; padding: 1.5% 3%; }

/* BANNER */
.banner { background: url("../img/bg.jpg") no-repeat fixed; }

.title { width: 100%; }
.title h2 { font-size: 2.5em; color: #fff; font-weight: 700; }
.title h3 { font-size: 1.5em; color: #fff; }

.buttons { width: 100%; }
.buttons button { margin-top: 2%; width: 100%; font-size: 1.5em; text-align: left; cursor: pointer; padding: 5%; }
.buttons button i { float: right; }

.btn-cadastrar { color: #130400; }

.btn-sobre { color: #fff; }

/* SERVICOS */
.servico { width: 100%; text-align: left; margin-bottom: 3%; }
.servico img { border-radius: 10px 10px 0 0; }

.inner { padding: 7%; }
.inner a { font-size: 1.5em; color: #130400; font-weight: 700; }
.inner h4 { font-size: 1.2em; color: #130400; margin-top: 2%; }
.inner p { margin-top: 6%; color: #130400; line-height: 1.5em; }

/* NEWSLETTER */
.newsletter h2 { font-size: 1.5em; color: #fff; font-weight: 700; }
.newsletter h3 { color: #fff; }
.newsletter form { margin-top: 2%; }
.newsletter input { width: 100%; color: #fff; border: 1px solid rgba(255, 255, 255, 0.3); padding: 5%; }
.newsletter button { width: 100%; color: #130400; padding: 5%; cursor: pointer; margin-top: 2%; }

/* RODAPE */
.rodape { text-align: center; }

.social-icons a { font-size: 1.5em; color: rgba(255, 255, 255, 0.7); margin-right: 3%; }
.social-icons a:hover { color: white; }
.social-icons a:last-child { margin-right: 0; }

.copyright { margin-top: 2%; color: rgba(255, 255, 255, 0.7); }

/* ========== MEDIA TYPES ========== */
/* MOBILE FIRST */
/* SMALL DEVICES - SMARTPHONES */
@media screen and (min-width: 480px) { .logo { width: 214px; background: url(../img/logo.png) center center/214px no-repeat; }
  .buttons button { font-size: 2em; } }
/* SMALL DEVICES - TABLETS */
@media screen and (min-width: 768px) { .buttons button { width: 48%; margin-right: 2%; padding: 2%; }
  .buttons button:nth-child(2) { margin-right: 0%; }
  .servico { width: 49%; float: left; margin-right: 2%; }
  .servico:nth-child(2) { margin-right: 0; }
  .newsletter h2 { font-size: 2em; }
  .newsletter h3 { font-size: 1.5em; }
  .newsletter input { width: 70%; padding: 2%; float: left; margin-right: 1%; }
  .newsletter button { width: 29%; padding: 2%; float: right; margin-top: 0; } }
/* MEDIUM DEVICES - TABLETS E DESKTOPS */
@media screen and (min-width: 960px) { .title { width: 74%; float: left; text-align: left; }
  .title h2 { font-size: 3em; }
  .title h3 { font-size: 2em; }
  .buttons { width: 26%; float: right; margin-top: 0; }
  .buttons button { padding: 5%; width: 100%; float: left; }
  .servico { width: 32%; }
  .servico:nth-child(2) { margin-right: 2%; }
  .servico:nth-child(3) { margin-right: 0; }
  .newsletter div:nth-child(1) { width: 70%; float: left; padding-top: 1%; }
  .newsletter div:nth-child(2) { float: right; width: 30%; }
  .newsletter input { width: 100%; float: left; margin-bottom: 3%; padding: 5%; }
  .newsletter button { width: 100%; float: left; padding: 5%; } }
/* LARGE DEVICES - WIDESCREENS */
@media screen and (min-width: 1280px) { .btn-menu { display: none; }
  .btn-close { display: none; }
  .menu { width: auto; height: 56px; line-height: 56px; float: right; background-color: #f5f5f5; display: block !important; position: static; }
  .menu ul li { border: none; padding: 0; float: left; }
  .menu ul li a { color: #130400; font-size: 1em; padding: 15px; }
  .menu ul li a:hover { color: #da6709; }
  .menu ul li:hover { border: none; } }

/*# sourceMappingURL=style.css.map */
